@*@using Taxiwala.ViewModel;
@model SearchViewModel
@{
    ViewBag.Title = "DriverSearchList";
}
<h2>Bookings</h2>

*@

@using Taxiwala.ViewModel;
@model SearchViewModel
<h2>Bookings</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="CurrentCity"></label>
                <input asp-for="CurrentCity" class="form-control" />

            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
@{
    var driverList = ViewData["driverList"] as List<Taxiwala.ViewModel.DriverListViewModel>;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Customername</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">PickUp</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in driverList)
        {
            <tr>
                <th scope="row">@item.CustomerName</th>
                <th scope="row">@item.Origin</th>
                <th scope="row">@item.Destination</th>
                <th scope="row">@item.PickupTime</th>
                <th scope="row">
                    @if (@item.Price > 0)
                    {
                        @item.Price
                    }
                    else
                    {
                        @using (Html.BeginForm())
                        {
                            <input type="text" name="price" />
                            <div style="display:none"><input type="text" name="bookingId" value="@item.BookingId" /></div>
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        }


                    }
                </th>

            </tr>
        }

    </tbody>
</table>
