@using Taxiwala.ViewModel;
@model List<DriverListViewModel>
<h2>Ride Started</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">PickUp</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Origin</th>
                <th scope="row">@item.Destination</th>
                <th scope="row">@item.PickupTime</th>
                <th scope="row">
                    @item.Price
                </th>
                <th scope="row">
                    @item.IsConfirmed
                </th>

            </tr>
        }

    </tbody>
</table>

